/* Main grid styling */
body {
    font-family: 'Ubuntu', sans-serif;
}

.parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    background-color: #FEC6B5;
    border: 3px solid #C94D45;
    border-radius: 10px;
    margin: auto;
    max-width: 1000px;
    min-width: 700px;
}

/* Header styling */

.title {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main-title {
    margin: 0;
    align-self: flex-end;
}

.title-image {
    height: 110px;
    padding-top: 5px;
}

/* Main area styling */


/* Statistics area styling */

.statistics {
    margin: 25px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* Game area styling */

.game-area {
    margin: 5px;
    border: 2px solid #C94D45;
    background-color: #C94D45;
    border-radius: 5px;
    height: 720px;
    width: 950px;
    background-image: url(/assets/background-livingroom.png);
    background-size: inherit;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 3.5fr 3.5fr 1fr;
}

/* Start button styling */

.start-button {
    justify-self: center;
    align-self: end;
}

#start {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: -3px -3px 0 #C94D45, 3px -3px 0 #C94D45, 3px 3px 0 #C94D45;
    font-family: 'Ubuntu', sans-serif;
}


/* Sprite area styling */

.sprite-area {
    align-self: end;
    justify-self: center;
}

.sprite img {
    max-width: 275px;
    max-height: 275px;
}

/* Game button area style */

.game-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
}

button {
  border: none;
  background-color: transparent;
  outline: none;  
}

button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.game-controls img {
    width: 80px;
}

/* Player guide styling */

.play-guide {
    border: 1px solid #C94D45;
    border-radius: 3px;
    background-color: #FDDFD4;
    margin: 5px;
    padding: 5px;
    align-self: center;
}

/* Footer styling */

footer {
    text-align: center;
    font-size: 14px;
    margin: 15px;
}


